{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' _self %}
{% block form_label_class -%}col-sm-3{%- endblock form_label_class %}
{% block form_group_class -%}col-sm-7{%- endblock form_group_class %}

{% block body %}
    
    <h2>Edycja Profilu</h2>
    <div class="row">        
            
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
            
        <form action="{{ path('fos_user_profile_edit') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">

            {{ form_row(form.email) }}
            {{ form_row(form.username) }}
            {{ form_row(form.current_password) }}
            <div class="col-sm-offset-3">
                <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-primary" />
            </div>
            {{ form_rest(form) }}
        </form>
    </div>


{% endblock %}