{% extends "::base.html.twig" %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-3">
            {% if product.imageName %}
                <a class="example-image-link" data-lightbox="product-image" href="{{ asset('images/products/' ~ product.imageName) }}">
                    <img src="{{ vich_uploader_asset(product, 'product_image') | imagine_filter('product_image') }}" alt="" class="img-thumbnail">
                </a>
            {% else %}
                <img src="http://placehold.it/240x200" alt="" class="img-thumbnail">
            {% endif %}
        </div>
        
        <div class="col-md-9">
            <div class="row">
                <h3>{{ product.name }}</h3>
            </div>
            <div class="row">
                <div class="col-md-2">
                    Dostępnych
                </div>
                <div class="col-md-10">
                    {{ product.amount }}
                </div>
                <div class="col-md-2">
                    Cena
                </div>
                <div class="col-md-10">
                    <h4 class="text-danger">{{ product.price }}</h4>
                </div>
            </div>
            <div class="row">
                <a href="{{ path('basket_add', {'id': product.id}) }}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Dodaj do koszyka</a>
            </div>
        </div>
    </div>
            <br><br>
    <div class="row">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Opis</a></li>
            <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Komentarze</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="description">
                <p>{{ product.description }}</p>
            </div>

            <div role="tabpanel" class="tab-pane" id="comments">
                <h4>Komentarze</h4>
                {% if not app.user %}
                    <p>Aby móc dodawać komentarz musisz się wcześniej <a href="{{ path('fos_user_security_login') }}" title="Formularz logowania">zalogować</a>.</p>
                {% else %}
                    <form method="post" novalidate>
                        <div class="form-group">
                            {{ form_row(form.content) }}
                        </div>
                        {{ form_rest(form) }}
                        <input class="btn btn-success" type="submit" value="Dodaj komentarz" />
                    </form>
                {% endif %}
                <br />
                {% for comment in product.comments if comment.verified %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="pull-right">
                                <span class="text-success">{{ comment.nbVoteUp }}</span> <a href="{{ path('comment_vote_up', {'id': comment.id, 'productId': product.id}) }}" title="Up" class="vote-up"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a> | 
                                <span class="text-danger">{{ comment.nbVoteDown }}</span> <a href="{{ path('comment_vote_down', {'id': comment.id, 'productId': product.id}) }}" title="Down" class="vote-down"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a>
                            </div>
                            <p>{{ comment.content }}</p>
                            <small>Dodany {{ comment.createdAt|date('d-m-Y') }} przez {{ comment.user }}</small>
                        </div>
                    </div>
                {% else %}
                    <p>Nie ma jeszcze żadnych komentarzy. Dodaj swój jako pierwszy!</p>
                {% endfor %}
            </div>
        </div>
    </div>     

{% endblock %}